* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Arial";
}
:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
}
body {
  min-height: 100vh;
  background-color: var(--background);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
#toggleBurger {
  display: none;
}
.burgerNav {
  display: none;
}

@media (max-width: 850px) {
  .navigationDesktop {
    display: none;
  }
  #toggleBurger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--second-background);
    border: none;
  }
  .active {
    display: block;
  }
  .burgerNav {
    width: 100%;
  }
  .burgerSpan {
    background-color: white;
    width: 100%;
    height: 3px;
  }
  .burgerList {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 3em;
    flex-direction: column;
    a {
      color: white;
      opacity: 0.7;
      transition: 0.2s ease-in-out;
    }
  }
  header {
    display: flex;
    flex-direction: column;
  }
  #about img {
    display: none;
  }
  h1 {
    font-size: 2em;
  }
  #contact{
    margin-bottom: 10px;
  }
}
.navigationDesktop {
  width: 70%;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.links a {
  color: white;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
.links a:hover {
  opacity: 1;
}
.logo {
  font-size: 2em;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.2 ease-in-out;
}
.logo:hover {
  opacity: 1;
}
.btn-box {
  padding: 0, 5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  font-size: 1.1em;
  border: 2px solid white;
  cursor: pointer;
  transition: 0, 3s ease-in-out;
  padding: 9px;
}

.btn-box:hover {
  background-color: white;
  a{
    color: var(--background);
  }
}
.btn-box a {
  text-decoration: none;
  color: white;
}


span {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  background-clip: text;
  color: transparent;
}
#menu {
  color: white;
  font-size: 3em;
  display: none;
}
section {
  min-height: 100vh;
  padding: 5% 15%;
}
#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  color: white;
}
.img-box {
  margin-top: 2em;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--second-background);
}

.img-box img {
  max-height: 220px;
  object-fit: contain;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  max-width: 600px;
}
.info-box h1 {
  font-size: 5em;
  font-weight: 500;
}
.info-box h3 {
  font-size: 2em;
  font-weight: 400;
}
.info-box p {
  opacity: 0.7;
}
.btn-box {
  display: flex;
  gap: 1em;
}

.btn-box .btn:nth-of-type(2) {
  background-color: white;
  color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover {
  background-color: var(--background);
  color: white;
}
::-webkit-scrollbar {
  width: 20px;
  background-color: var(--background);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}
@media screen and (max-width: 600px) {
  .img-box {
    margin-top: 120px;
  }
}
#about {
  background-color: var(--second-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
#about img {
  width: 20vw;
  border-radius: 1em;
}
.about-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about-box h2 {
  font-size: 3em;
}
.about-box p {
  color: white;
  opacity: 0.8;
}
.skills__list {
  display: flex;
  align-items: center;
  gap: 3em;
}
.skills {
  display: flex;
  text-align: left;
  gap: 10em;
}
.skills ul {
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
}
.skills ul li span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}
.skills ul li span:hover {
  transform: translateX(10px);
}

.skills ul li i {
  font-size: 1.2em;
}
.about-box h2 {
  font-size: 2.5em;
}

.title__cv {
  font-size: 3em;
  margin-top: 50px;
}
.position {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8em;
  margin-top: 2em;
  color: white;
}
.cvCard {
  background: var(--second-background);
  border-radius: 1rem;
  padding: 1.5em;
}
.cvCard :after {
  background: var(--gradient);
}
.positionTitle {
  display: flex;
  align-items: center;
}
#cv .bx-chevron-right {
  font-size: 2em;
}
.cvBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 3vh;
}
.bxs-graduation,
.bx-briefcase {
  color: #6cff52;
  font-size: 2em;
}
.timelineTitle {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  margin-top: 2em;
}
.portfolio-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 3vh;
}
@media (max-width: 1200px) {
  .portfolio-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
  .container {
    font-size: 10px;
  }
}
.portfolio-box p {
  color: white;
  opacity: 0.8;
}
#portfolio {
  background-color: var(--second-background);
  gap: 5em;
}
.portfolioTitle {
  margin-top: 50px;
}
#portfolio h2 {
  font-size: 3em;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--background);
  height: 32vh;
}
.portfolio-card h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}
#contact {
  background-color: var(--background);
}
#contact h2 {
  font-size: 3em;
  display: flex;
  align-items: start;
}
.contactBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.contactBox a {
  color: white;
}
.contactBox a:hover {
  color: #6cff52;
}
.contactTitle {
  margin-top: 50px;
}
.myInfo {
  color: white;
  gap: 5em;
}
.info {
  margin-top: 1.1em;
  gap: 2em;
}
.socialMedia {
  font-size: 2em;
  gap: 3em;
  margin-top: 1.1em;
}
.socialMedia a:hover {
  color: #6cff52;
}
.form-container {
  margin-top: 2em;
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #6cff52, #3ec5ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: start;

  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: 600;
  font-size: 1em;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #6cff52;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #6cff52;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
@media (max-width: 850px) {
  #home {
    display: flex;
    justify-content: center;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contactBox {
    grid-template-columns: 1fr;
    justify-self: center;
  }
  .cvBoxes {
    grid-template-columns: 1fr;
  }
  .cvCard {
    justify-self: center;
    width: 80%;
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.portfolio-card img {
  width: 40vh;
  margin-bottom: 1.5em;
}
.github-link a {
  color: white;
  font-size: 2em;
}
.github-link a:hover {
  color: #6cff52;
}
.container__modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.text__modal-window {
  color: whitesmoke;
  font-size: 1em;
  text-align: center;
  width: 100%;
  gap: 1.5em;
}

.modal-window > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: var(--second-background);
  border-radius: 1rem;
  color: #fff;
}
@media (max-width: 800px) {
  .modal-window > div {
    margin-top: 50px;
  }
}

.modal-window header {
  font-weight: bold;
}

.modal-window h2 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: white;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

.interior .btn {
  background-color: var(--second-background);
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
}

.interior .btn i {
  padding-right: 0.3em;
}
@media (max-width: 550px) {
  .info-box h1 {
    font-size: 2em;
  }
  .info-box h3 {
    font-size: 1.3em;
  }
  .img-box {
    height: 130px;
    width: 130px;
  }
  .img-box img {
    max-height: 120px;
  }
  p{
    font-size: 0.8em;
  }
  .about-box h2{
    font-size: 1.5em;
  }
  .skills ul{
    font-size: 0.9em;
  }
  .title__cv h2{
    font-size: 1em;
  }
  .timelineTitle h2{
    font-size: 1.3em;
  }
  .positionTitle h3{
    font-size: 1em;
  }
  h4{
    font-size: 0.9em;
  }

}
@media (max-width:450px){
  #about{
   padding: 5% 5%;
   margin-left: 15px;
   margin-right: 15px;
  }
  #contact{
    padding: 0 5%;
  }
  #contact h2{
    font-size: 2em;
  }
  .form-container{
    width: 100%;
  }
  #portfolio{
    padding: 0 5%;
  }
  #portfolio h2{
    font-size: 2em;

  }
  p{
    font-size: 0.7em;
  }
  h4{
    font-size: 0.8em;
  }
  .title__cv{
    margin-top: 100px;
  }
  
}
